<div class="app">
  <header>
    <section>
      <h1>{{ title }}</h1>
    </section>
    <nav>
      <ul class="main-list">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/images">Image du jour</a></li>
        <li><a routerLink="/form">Astéroides</a></li>
        <li><a routerLink="/about">A propos</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <a href="{{ footerUrl }}">{{ footerLink }}</a>
  </footer>

</div>
